# Virtual environments
.venv

# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs

# # No USD files allowed in the repo
**/*.usd
**/*.usda
**/*.usdc
**/*.usdz
# Exception: allow USD files under assets/
!assets/**/*.usd
!assets/**/*.usda
!assets/**/*.usdc
!assets/**/*.usdz

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb
wheels/
dist/
*.py[oc]

# Outputs
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# RL-Games and Training
runs/
recordings/

# Pre-Trained Checkpoints
/.pretrained_checkpoints/

# Serena AI coding assistant internal state
.serena/